## Introduction to Python

### lists

In [1]:
# each element has an index (a position in the list)

In [2]:
x = [1,3,5,8,2,4]

In [3]:
x

[1, 3, 5, 8, 2, 4]

In [4]:
# display entry in 4th position

In [5]:
x[4]

2

In [6]:
# entries up to (but not including) the 4th position

In [7]:
x[:4]

[1, 3, 5, 8]

In [8]:
x[4:]

[2, 4]

In [9]:
x[1:3]

[3, 5]

In [10]:
x[-1]

4

In [11]:
x[:-1]

[1, 3, 5, 8, 2]

In [12]:
# functions on lists

In [13]:
x = [1,3,5,8,2,4]

In [14]:
x.append(9)
x

[1, 3, 5, 8, 2, 4, 9]

In [15]:
L = [0,5,8]

In [16]:
x.extend(L)
x

[1, 3, 5, 8, 2, 4, 9, 0, 5, 8]

In [17]:
x.count(5)

2

In [18]:
# index of 8 (first time)

In [19]:
x.index(8)

3

In [20]:
# insert 6 in position 3

In [21]:
x.insert(3,6)
x

[1, 3, 5, 6, 8, 2, 4, 9, 0, 5, 8]

In [22]:
# deletes item in position 3

In [23]:
x.pop(3)
x

[1, 3, 5, 8, 2, 4, 9, 0, 5, 8]

In [24]:
# remove 8 (first time only)

In [25]:
x.remove(8)
x

[1, 3, 5, 2, 4, 9, 0, 5, 8]

In [26]:
# reverse list x

In [27]:
x.reverse()
x

[8, 5, 0, 9, 4, 2, 5, 3, 1]

In [28]:
# duplicate list x

In [29]:
y = x.copy()
y

[8, 5, 0, 9, 4, 2, 5, 3, 1]

In [30]:
x.sort()
x

[0, 1, 2, 3, 4, 5, 5, 8, 9]

### ITERATOR range

In [31]:
# range is an iterator (no elements in it)

In [32]:
range(10)

range(0, 10)

In [33]:
range(0,10)

range(0, 10)

In [34]:
# create a list using iterator

In [35]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
a = list(range(0,10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
a = list(range(3,9))
a

[3, 4, 5, 6, 7, 8]

In [38]:
# boundary 9 is not in the list

In [39]:
a[1]

4

In [40]:
# index starts at 0

### loop over one sequence

In [41]:
a = list(range(10))

In [42]:
for i in a:
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [43]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

### loop over two sequences

In [44]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [45]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [46]:
a = list(range(0,10,2))
b = list(range(1,11,2))

In [47]:
# zip (see p56)

In [48]:
for i,j in zip(a,b):
    print(i,',',j)

0 , 1
2 , 3
4 , 5
6 , 7
8 , 9

In [49]:
zip(a,b)

In [50]:
# zip is an iterator

In [51]:
# convert it to a list of elements

In [52]:
list(zip(a,b))

[(0, 1), (2, 3), (4, 5), (6, 7), (8, 9)]

## list comprehension

Create a list with a loop

In [53]:
L = []   # empty list

In [54]:
for n in range(12):
    L.append(n**2)

In [55]:
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [56]:
# or use a list comprehension

In [57]:
L=[i**2 for i in range(12)]

In [58]:
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [59]:
# more examples

In [60]:
a = [i for i in range(20)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [61]:
# multiples of 3

In [62]:
a = [i for i in range(20) if i%3 == 0]
a

[0, 3, 6, 9, 12, 15, 18]

list with 5 random integers

In [63]:
import random

In [64]:
random.seed(0)

In [65]:
x = [random.randint (0, 100) for i in range(5)]
x

[49, 97, 53, 5, 33]

list of 6 pairs

In [66]:
L = [(i,j) for i in range(2) for j in range(3)]

In [67]:
L

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

## lambda function

In [68]:
def f(x):
    return x**2

In [69]:
f(2.5)

6.25

In [70]:
# lambda function (argument x followed by the math expression)

In [71]:
g = lambda x:x**2

In [72]:
g(2.5)

6.25

In [73]:
# lambda function with two arguments

In [74]:
def f(x,y):
    return x+y

In [75]:
f(3,2)

5

In [76]:
# lambda function (arguments x,y followed by the math expression)

In [77]:
g = lambda x,y: x+y

In [78]:
g(3,2)

5

## map

To apply a function to all values in a list (see p56)

Example: Create a sequence of $2x$ values

In [79]:
# start by creating the function, f(x) = 2*x

In [80]:
f = lambda x:2*x

In [81]:
f(2.5)

5.0

In [82]:
results = map(f,range(10))
list(results)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [83]:
# or

In [84]:
a = map(lambda x: 2*x, range(10))
list(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## map and lambda

In [85]:
# adding two lists

In [86]:
list1 = [1,2,3]
list2 = [4,5,6]

In [87]:
a = map(lambda x,y: x+y, list1,list2)

In [88]:
list(a)

[5, 7, 9]

In [89]:
# or

In [90]:
g = lambda x,y: x+y

In [91]:
a = map(g, list1,list2)

In [92]:
list(a)

[5, 7, 9]

## sequences

In [93]:
days = list(range(1,8))
days

[1, 2, 3, 4, 5, 6, 7]

repeat the list

In [94]:
days_rep = 2*days
days_rep

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

repeat (2 times) the entries in a sequence

In [95]:
repeated_days = [entry for entry in days for i in range(2)]
print(repeated_days)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7]

In [96]:
# alternatively you may sort days_rep

In [97]:
repeated_days = sorted(days_rep)
repeated_days

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7]