# MLR with Categorical predictors

In [20]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf

In [21]:
from statsmodels import __version__
print(__version__)

0.14.0

In [22]:
df0 = pd.read_csv('homes.csv')
df0[:3]

,price,area,beds,baths,garage,year,style,lotsize,ac,pool,quality,highway
0,360000,3032,4,4,2,1972,1,22221,YES,NO,MEDIUM,NO
1,340000,2058,4,2,2,1976,1,22912,YES,NO,MEDIUM,NO
2,250000,1780,4,3,2,1980,1,21345,YES,NO,MEDIUM,NO

In [23]:
# Change style to categorical

In [24]:
df0['style'] = df0['style'].astype(object)
df0.dtypes

price       int64
area        int64
beds        int64
baths       int64
garage      int64
year        int64
style      object
lotsize     int64
ac         object
pool       object
quality    object
highway    object
dtype: object

In [25]:
pd.value_counts(df0.beds)

3    202
4    179
2     64
5     52
6     12
1      9
7      3
0      1
Name: beds, dtype: int64

In [26]:
# restrict on the number of beds

In [27]:
df = df0.copy()

In [28]:
df = df[(df.beds > 1) & (df.beds < 5)]
df.shape, df0.shape

((445, 12), (522, 12))

In [29]:
df.shape, df0.shape

((445, 12), (522, 12))

## statsmodels.formula.api

In [30]:
model1 = smf.ols(formula = 'price ~ area+beds+baths+garage+year+\
                                    C(style)+lotsize+C(ac)+C(pool)+\
                                    C(quality)+C(highway)',
                 data = df).fit()

In [31]:
model1 = smf.ols(formula = 'price ~ area+beds+baths+garage+year+\
                             style+lotsize+ac+pool+quality+highway',
                 data = df).fit()
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.852
Model:                            OLS   Adj. R-squared:                  0.845
Method:                 Least Squares   F-statistic:                     135.9
Date:                Wed, 20 Sep 2023   Prob (F-statistic):          1.08e-163
Time:                        13:12:15   Log-Likelihood:                -5451.8
No. Observations:                 445   AIC:                         1.094e+04
Df Residuals:                     426   BIC:                         1.102e+04
Df Model:                          18
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept         -2.473e+06   3.93e+05     -6.285      0.000   -3.25e+06    -1.7e+06
style[T.2]        -2.006e+04   8638.441     -2.322      0.021    -3.7e+04   -3080.425
style[T.3]        -1.151e+04   8251.632     -1.395      0.164   -2.77e+04    4707.107
style[T.4]          2.31e+04   1.72e+04      1.346      0.179   -1.06e+04    5.68e+04
style[T.5]        -7407.6304   1.55e+04     -0.479      0.632   -3.78e+04     2.3e+04
style[T.6]         -3.06e+04   1.51e+04     -2.029      0.043   -6.02e+04    -951.905
style[T.7]        -4.664e+04   8514.836     -5.477      0.000   -6.34e+04   -2.99e+04
style[T.9]        -9.094e+04   5.26e+04     -1.728      0.085   -1.94e+05    1.25e+04
ac[T.YES]         -1075.0761   7501.411     -0.143      0.886   -1.58e+04    1.37e+04
pool[T.YES]        2.163e+04   1.06e+04      2.042      0.042     813.263    4.25e+04
quality[T.LOW]    -1.368e+05   1.45e+04     -9.433      0.000   -1.65e+05   -1.08e+05
quality[T.MEDIUM] -1.363e+05   1.08e+04    -12.640      0.000   -1.58e+05   -1.15e+05
highway[T.YES]     -3.18e+04   1.69e+04     -1.884      0.060    -6.5e+04    1380.295
area                117.2176      7.739     15.146      0.000     102.006     132.429
beds              -2222.9820   4148.594     -0.536      0.592   -1.04e+04    5931.279
baths              9246.5631   4285.513      2.158      0.032     823.180    1.77e+04
garage             7423.7368   4914.563      1.511      0.132   -2236.074    1.71e+04
year               1300.6190    199.782      6.510      0.000     907.938    1693.300
lotsize               1.3283      0.238      5.584      0.000       0.861       1.796
==============================================================================
Omnibus:                       58.445   Durbin-Watson:                   1.344
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              269.978
Skew:                           0.449   Prob(JB):                     2.37e-59
Kurtosis:                       6.709   Cond. No.                     4.26e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.26e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [32]:
# Change quality base level to LOW

In [33]:
model1 = smf.ols(formula = 'price ~ area+beds+baths+garage+year+\
                                    C(style)+lotsize+C(ac)+C(pool)+\
                                    C(quality,Treatment(reference="LOW"))+\
                                    C(highway)',
                 data = df).fit()
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.852
Model:                            OLS   Adj. R-squared:                  0.845
Method:                 Least Squares   F-statistic:                     135.9
Date:                Wed, 20 Sep 2023   Prob (F-statistic):          1.08e-163
Time:                        13:12:15   Log-Likelihood:                -5451.8
No. Observations:                 445   AIC:                         1.094e+04
Df Residuals:                     426   BIC:                         1.102e+04
Df Model:                          18
Covariance Type:            nonrobust
====================================================================================================================
                                                       coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------
Intercept                                         -2.61e+06   3.89e+05     -6.711      0.000   -3.37e+06   -1.85e+06
C(style)[T.2]                                    -2.006e+04   8638.441     -2.322      0.021    -3.7e+04   -3080.425
C(style)[T.3]                                    -1.151e+04   8251.632     -1.395      0.164   -2.77e+04    4707.107
C(style)[T.4]                                      2.31e+04   1.72e+04      1.346      0.179   -1.06e+04    5.68e+04
C(style)[T.5]                                    -7407.6304   1.55e+04     -0.479      0.632   -3.78e+04     2.3e+04
C(style)[T.6]                                     -3.06e+04   1.51e+04     -2.029      0.043   -6.02e+04    -951.905
C(style)[T.7]                                    -4.664e+04   8514.836     -5.477      0.000   -6.34e+04   -2.99e+04
C(style)[T.9]                                    -9.094e+04   5.26e+04     -1.728      0.085   -1.94e+05    1.25e+04
C(ac)[T.YES]                                     -1075.0761   7501.411     -0.143      0.886   -1.58e+04    1.37e+04
C(pool)[T.YES]                                    2.163e+04   1.06e+04      2.042      0.042     813.263    4.25e+04
C(quality, Treatment(reference="LOW"))[T.HIGH]    1.368e+05   1.45e+04      9.433      0.000    1.08e+05    1.65e+05
C(quality, Treatment(reference="LOW"))[T.MEDIUM]   437.0813   7899.182      0.055      0.956   -1.51e+04     1.6e+04
C(highway)[T.YES]                                 -3.18e+04   1.69e+04     -1.884      0.060    -6.5e+04    1380.295
area                                               117.2176      7.739     15.146      0.000     102.006     132.429
beds                                             -2222.9820   4148.594     -0.536      0.592   -1.04e+04    5931.279
baths                                             9246.5631   4285.513      2.158      0.032     823.180    1.77e+04
garage                                            7423.7368   4914.563      1.511      0.132   -2236.074    1.71e+04
year                                              1300.6190    199.782      6.510      0.000     907.938    1693.300
lotsize                                              1.3283      0.238      5.584      0.000       0.861       1.796
==============================================================================
Omnibus:                       58.445   Durbin-Watson:                   1.344
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              269.978
Skew:                           0.449   Prob(JB):                     2.37e-59
Kurtosis:                       6.709   Cond. No.                     4.22e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.22e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [34]:
# Remove beds, ac

In [35]:
model2 = smf.ols(formula = 'price ~ area+baths+garage+year+\
                                    C(style)+lotsize+C(pool)+\
                                    C(quality,Treatment(reference="LOW"))+\
                                    C(highway)',
                 data = df).fit()
model2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.852
Model:                            OLS   Adj. R-squared:                  0.846
Method:                 Least Squares   F-statistic:                     153.4
Date:                Wed, 20 Sep 2023   Prob (F-statistic):          8.21e-166
Time:                        13:12:15   Log-Likelihood:                -5452.0
No. Observations:                 445   AIC:                         1.094e+04
Df Residuals:                     428   BIC:                         1.101e+04
Df Model:                          16
Covariance Type:            nonrobust
====================================================================================================================
                                                       coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------
Intercept                                        -2.601e+06   3.82e+05     -6.803      0.000   -3.35e+06   -1.85e+06
C(style)[T.2]                                    -2.081e+04   8517.731     -2.443      0.015   -3.76e+04   -4067.036
C(style)[T.3]                                    -1.162e+04   8230.471     -1.412      0.159   -2.78e+04    4557.609
C(style)[T.4]                                     2.298e+04   1.71e+04      1.343      0.180   -1.06e+04    5.66e+04
C(style)[T.5]                                    -7512.9785   1.53e+04     -0.490      0.624   -3.76e+04    2.26e+04
C(style)[T.6]                                    -3.101e+04    1.5e+04     -2.066      0.039   -6.05e+04   -1506.413
C(style)[T.7]                                     -4.67e+04   8487.820     -5.502      0.000   -6.34e+04      -3e+04
C(style)[T.9]                                     -9.06e+04   5.25e+04     -1.725      0.085   -1.94e+05    1.26e+04
C(pool)[T.YES]                                    2.179e+04   1.05e+04      2.068      0.039    1075.399    4.25e+04
C(quality, Treatment(reference="LOW"))[T.HIGH]    1.373e+05   1.44e+04      9.564      0.000    1.09e+05    1.66e+05
C(quality, Treatment(reference="LOW"))[T.MEDIUM]   257.4791   7729.184      0.033      0.973   -1.49e+04    1.54e+04
C(highway)[T.YES]                                -3.163e+04   1.68e+04     -1.879      0.061   -6.47e+04    1453.863
area                                               116.5845      7.632     15.275      0.000     101.583     131.586
baths                                             8764.8329   4184.614      2.095      0.037     539.881     1.7e+04
garage                                            7219.2587   4858.982      1.486      0.138   -2331.178    1.68e+04
year                                              1293.7214    196.090      6.598      0.000     908.303    1679.140
lotsize                                              1.3304      0.234      5.675      0.000       0.870       1.791
==============================================================================
Omnibus:                       58.505   Durbin-Watson:                   1.340
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              268.359
Skew:                           0.452   Prob(JB):                     5.33e-59
Kurtosis:                       6.695   Cond. No.                     4.15e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.15e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

### Create DataFrame for prediction

In [36]:
newvalue = df[:1].copy()
del newvalue['price']

In [37]:
newvalue

   area  beds  baths  garage  year style  lotsize   ac pool quality highway
0  3032     4      4       2  1972     1    22221  YES   NO  MEDIUM      NO

In [38]:
list1 = [3150,2,3,2,1996,1,26250,'YES','YES','HIGH','NO']
list1

[3150, 2, 3, 2, 1996, 1, 26250, 'YES', 'YES', 'HIGH', 'NO']

In [39]:
list2 = newvalue.columns.tolist()
list2

['area',
 'beds',
 'baths',
 'garage',
 'year',
 'style',
 'lotsize',
 'ac',
 'pool',
 'quality',
 'highway']

In [40]:
newvalue2 = pd.DataFrame(list1,index = list2).T
newvalue2

   area beds baths garage  year style lotsize   ac pool quality highway
0  3150    2     3      2  1996     1   26250  YES  YES    HIGH      NO

In [41]:
# newvalue.append(list1,columns = list2)

In [42]:
newvalue.area = 3150
newvalue.beds = 2
newvalue.baths = 3
newvalue.garage = 2
newvalue.year = 1996
newvalue.style = 1
newvalue.lotsize = 26250 
newvalue.ac = 'YES'
newvalue.pool = 'YES'
newvalue.quality = 'HIGH'
newvalue.highway = 'NO'

In [43]:
newvalue

   area  beds  baths  garage  year  style  lotsize   ac pool quality highway
0  3150     2      3       2  1996      1    26250  YES  YES    HIGH      NO

In [44]:
model1.predict(newvalue)

0    585922.526796
dtype: float64

In [45]:
# prediction with intervals

In [46]:
df1 = model1.get_prediction(newvalue)
df1.summary_frame()

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,585922.526796,15323.494616,555803.458271,616041.595321,479849.693761,691995.359831

In [47]:
# house price PI is (479849.70, 691995.36) dollars

## sklearn

In [48]:
from sklearn.linear_model import LinearRegression

In [49]:
# transform categoricals to binary columns

In [50]:
df2 = pd.get_dummies(df,columns = ['style','ac','pool','quality','highway'],\
                     drop_first = True)
df2[:5]

/var/folders/d7/8d55xd4s09x_gjbk8q8dlhvr0000gn/T/ipykernel_2637/3012360643.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df2 = pd.get_dummies(df,columns = ['style','ac','pool','quality','highway'],\

,price,area,beds,baths,garage,year,lotsize,style_2,style_3,style_4,style_5,style_6,style_7,style_9,ac_YES,pool_YES,quality_LOW,quality_MEDIUM,highway_YES
0,360000,3032,4,4,2,1972,22221,0,0,0,0,0,0,0,1,0,0,1,0
1,340000,2058,4,2,2,1976,22912,0,0,0,0,0,0,0,1,0,0,1,0
2,250000,1780,4,3,2,1980,21345,0,0,0,0,0,0,0,1,0,0,1,0
3,205500,1638,4,2,2,1963,17342,0,0,0,0,0,0,0,1,0,0,1,0
4,275500,2196,4,3,2,1968,21786,0,0,0,0,0,1,0,1,0,0,1,0

In [51]:
# Split df2 into response and predictors

In [52]:
Y = df2.price
X = df2.drop(columns = 'price',axis = 1)

In [53]:
len(X.columns)

18

In [54]:
# fit model

In [55]:
model2 = LinearRegression().fit(X,Y)

In [56]:
model2.intercept_

-2472913.9489935217

In [57]:
# suppress scientific notation (on numpy output)

In [58]:
np.set_printoptions(precision=None, suppress=True)

In [59]:
# model2 regression coefficients

In [60]:
df3 = pd.DataFrame(model2.coef_.round(2),
                   columns = ['coef'],
                   index = X.columns)
df3

                     coef
area               117.22
beds             -2222.98
baths             9246.56
garage            7423.74
year              1300.62
lotsize              1.33
style_2         -20059.70
style_3         -11511.87
style_4          23097.27
style_5          -7407.63
style_6         -30595.70
style_7         -46636.80
style_9         -90937.91
ac_YES           -1075.08
pool_YES         21631.70
quality_LOW    -136786.65
quality_MEDIUM -136349.57
highway_YES     -31800.51

In [61]:
# create DataFrame for prediction

In [62]:
newvalue = df2[:1].copy()
del newvalue['price']
newvalue

,area,beds,baths,garage,year,lotsize,style_2,style_3,style_4,style_5,style_6,style_7,style_9,ac_YES,pool_YES,quality_LOW,quality_MEDIUM,highway_YES
0,3032,4,4,2,1972,22221,0,0,0,0,0,0,0,1,0,0,1,0

In [63]:
newvalue.columns

Index(['area', 'beds', 'baths', 'garage', 'year', 'lotsize', 'style_2',
       'style_3', 'style_4', 'style_5', 'style_6', 'style_7', 'style_9',
       'ac_YES', 'pool_YES', 'quality_LOW', 'quality_MEDIUM', 'highway_YES'],
      dtype='object')

In [64]:
newvalue.area = 3150
newvalue.beds = 2
newvalue.baths = 3
newvalue.garage = 2
newvalue.year = 1996
newvalue.lotsize = 26250 
newvalue.ac_YES = 1
newvalue.pool_YES = 1
newvalue.quality_LOW = 0
newvalue.quality_MEDIUM = 0
newvalue.highway_YES = 0
newvalue

,area,beds,baths,garage,year,lotsize,style_2,style_3,style_4,style_5,style_6,style_7,style_9,ac_YES,pool_YES,quality_LOW,quality_MEDIUM,highway_YES
0,3150,2,3,2,1996,26250,0,0,0,0,0,0,0,1,1,0,0,0

In [65]:
model2.predict(newvalue)

array([585922.52679621])