## Combinations and Iterations

In [1]:
import numpy as np
import pandas as pd

In [2]:
# library for combinatorial numbers

In [3]:
from scipy.special import comb

In [4]:
# library for combinations

In [5]:
import itertools

In [6]:
# Examples

In [7]:
# 7 choose 3
comb(7,3)

35.0

In [8]:
list1 = ['a','b','c','d']
n = len(list1)
n

4

In [9]:
# Number of sets with two elements
comb(4,2)

6.0

In [10]:
# all possible sets with two elements
list(itertools.combinations(list1,2))

[('a', 'b'), ('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd'), ('c', 'd')]

In [11]:
# Number of sets with 3 elements
comb(4,3)

4.0

In [12]:
# all possible sets with 3 elements
list(itertools.combinations(list1,3))

[('a', 'b', 'c'), ('a', 'b', 'd'), ('a', 'c', 'd'), ('b', 'c', 'd')]

In [13]:
df = pd.read_csv('Credit.csv')
df[:5]

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [14]:
df = df.loc[:,df.dtypes != object]
df[:5]

    Income  Limit  Rating  Cards  Age  Education  Balance
0   14.891   3606     283      2   34         11      333
1  106.025   6645     483      3   82         15      903
2  104.593   7075     514      4   71         11      580
3  148.924   9504     681      3   36         11      964
4   55.882   4897     357      2   68         16      331

In [15]:
list(df.columns)

['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Balance']

In [16]:
n = len(df.columns)
n

7

In [17]:
# Number of sets with two column names
comb(7,2)

21.0

In [18]:
# all sets of two column names
list(itertools.combinations(df.columns,2))

[('Income', 'Limit'),
 ('Income', 'Rating'),
 ('Income', 'Cards'),
 ('Income', 'Age'),
 ('Income', 'Education'),
 ('Income', 'Balance'),
 ('Limit', 'Rating'),
 ('Limit', 'Cards'),
 ('Limit', 'Age'),
 ('Limit', 'Education'),
 ('Limit', 'Balance'),
 ('Rating', 'Cards'),
 ('Rating', 'Age'),
 ('Rating', 'Education'),
 ('Rating', 'Balance'),
 ('Cards', 'Age'),
 ('Cards', 'Education'),
 ('Cards', 'Balance'),
 ('Age', 'Education'),
 ('Age', 'Balance'),
 ('Education', 'Balance')]

In [19]:
# Number of sets with 6 column names
comb(7,6)

7.0

In [20]:
# all sets of 6 column names
list(itertools.combinations(df.columns,6))

[('Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education'),
 ('Income', 'Limit', 'Rating', 'Cards', 'Age', 'Balance'),
 ('Income', 'Limit', 'Rating', 'Cards', 'Education', 'Balance'),
 ('Income', 'Limit', 'Rating', 'Age', 'Education', 'Balance'),
 ('Income', 'Limit', 'Cards', 'Age', 'Education', 'Balance'),
 ('Income', 'Rating', 'Cards', 'Age', 'Education', 'Balance'),
 ('Limit', 'Rating', 'Cards', 'Age', 'Education', 'Balance')]